<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd">
            
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    
    <jaxrs:server id="irsServer" address="/">
        <jaxrs:serviceBeans>
            <ref bean="irsImpl" />
        </jaxrs:serviceBeans>
    </jaxrs:server>
    
    <bean id="irsImpl" class="org.bridgedb.ws.WSService" />

</beans>