# Configure backends on the lines below.
# Each line should take the format 
# Species <tab> Configuration string
# Multiple configuration strings per species are allowed.

Homo sapiens	idmapper-pgdb:/home/martijn/PathVisio-Data/gene databases/Hs_Derby_20090509.pgdb
Mus musculus	idmapper-pgdb:/home/martijn/PathVisio-Data/gene databases/Mm_Derby_20081119.pgdb

# Databases configured with an asterisk instead of the species name
# Will be mixed in for each species

*	idmapper-pgdb:/home/martijn/PathVisio-Data/gene databases/metabolites_081205.pgdb

[Drivers]
# Optional BridgeDb and JDBC drivers can be listed here
# Make sure these drivers are in the server class-path.

# org.bridgedb.webservice.biomart.IDMapperBiomart
# org.bridgedb.webservice.synergizer.IDMapperSynergizer
