<h2>Lens </h2>
<table border=\"1\>
    <tr>
        <th>Name</th>
        <th>URI</th>
        <th>Description</th>
        <th>Justifications</th>
        <th>Justifications</th>
    </tr>
    #foreach ($lens in $lenses)
        <tr>
            <td>$lens.getName()</td>
            <td><a href=\"$lens.toUri($contextPath)">$lens.toUri($contextPath)</a></td>
            <td>$lens.getDescription()</td>
            <td nowrap=\"nowrap\"><ul style=\"list-style-type:none\">
                #foreach ($justification in $lens.getJustifications())
                    <li><a href=\"$justification">$justification</a></li>
                #end
            </td>
            <td nowrap=\"nowrap\"><ul style=\"list-style-type:none\">
                #foreach ($dataSource in $lens.getAllowedMiddleSources())
                    <li><a href=\"$contextPath/$dataSourceMethod$dataSource.getSystemCode()">$dataSource.getFullName()</a></li>
                #end
            </td>
        </tr>        
    #end
</table>
