#if ($exception)
    <h2>Mapping Data Targets by Source $scrCode</h2>
    <h4>Unable to process your request</h4>
    <h3>$exception</h3>
    <p>Warning: XML and JSON versions will throw an Exception with these parameters</p>
#else 
    #if( $SourceTargetInfos.isEmpty())
        <h2>No Data Sources $scrCode found</h2>     
        <p>
        Warning if accepts header is set to "application/xml" or "application/json" this methods returns status 204 if no results are found.
        </p>
    #else
        <h2>Mapping Data Targets for Source $SourceTargetInfos.get(0).getSourceDataSourceName()
            #if ($lens)
                using Lens $lens
            #end    
        </h2>
        #if ($message)
            <p>$message</p>
        #end
        <p>Details for: <a href="$contextPath/dataSource/$SourceTargetInfos.get(0).getSource().getSysCode()">$SourceTargetInfos.get(0).getSourceDataSourceName()</a></td>
        <br/Click on Target Name for more information about the Target.
        <br/>Click on Linksets Count to Drill down.
        <br/>Note: Number of Links could include duplicates.
        <br/><a href="$contextPath/SourceInfos#if($lens)?lensUri=$lens#end">Up to Summary of all sources</a>
        <table border="1" >
            <tr>
                <th>Target</th>
                <th>Number of Linksets</th>
                <th>Number of Links</th>
            </tr>
            #foreach ( $sourceTargetInfo in $SourceTargetInfos)
                <tr>
                    <td><a href="$contextPath/dataSource/$sourceTargetInfo.getTarget().getSysCode()">$sourceTargetInfo.getTargetDataSourceName()</a></td>
                    <td><a href="$contextPath/mappingSet?sourceCode=$sourceTargetInfo.getSource().getSysCode()&targetCode=$sourceTargetInfo.getTarget().getSysCode()#if($lens)&lensUri=$lens#end">
                        $sourceTargetInfo.getNumberOfLinksets()</a></td>
                    <td>$sourceTargetInfo.getNumberOfLinks()</td>
                </tr>
            #end
        </table>
    #end
#end


